- var page        = {}

- page.lang       = 'es'
- page.favicon    = 'static/images/all/favicon.ico'
- page.title      = "Editar Usuario"

- page.module     = "intranet"
- page.controller = "user"
- page.action     = "edit"

//- page.dataTemp   = echo("!empty($dataTemp) ? json_encode($dataTemp) : ''")

//- page.token      = echo("csrf_token()")
//- page.version    = echo("'?'.$version")
