
- var meta                  = {}
- meta.charset              = 'utf-8'
- meta.description          = ""
- meta.keywords             = 'Autos, Carros, Camionetas, Camiones, Motos, Motocicletas, Perú, Ventas, Vender, Compras, Comprar, NeoAuto, El Comercio, Automotores, Clasificados del Peru, Clasificados Online'
- meta.author               = '2myr.com'
- meta.name                 = "2myr"
- meta.robots               = 'index,follow'
- meta.viewport             = 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'

- meta.og                   = {}
- meta.og.type              = 'website'
- meta.og.site_name         = 'Sistema de Gestion de Usuarios'
- meta.og.title             = ""
- meta.og.description       = ""
- meta.og.image_width       = ""
- meta.og.image_height      = ""
- meta.og.image_type        = 'image/jpg'
- meta.og.image             = ""
- meta.og.url               = ""

- meta.dc                   = {}
- meta.dc.contributor       = '2myr.com'
- meta.dc.creator           = '2myr'
- meta.dc.publisher         = 'Grupo 2myr'

- meta.geo                  = {}
- meta.geo.placename        = 'Huacho'
- meta.geo.position         = '-12.0478;-77.0622'
- meta.geo.region           = 'PE-LIM'

- meta.ICBM                 = '-12.0478, -77.0622'
