- path.base = "././../../../../" //echo("url('').'/'")
- path.images = path.base + "static/images/"
- path.css  = path.base + "css/modules/" //echo("asset('css').'/'")
- path.js   = "modules" //echo("asset('js').'/modules/'")
