header
    nav
        i.icon_menu
            +icon_svg("menu")
        
        .title
            h2 Editar Perfil
            
        a(href!=path.upc target="_blank")
            i.icon_logo_upc
                +icon_svg("logo_upc")
    
    .title
        h2 Editar Perfil
    
    figure.background_image
        img(src!=path.images + "all/img_portada.png")
        
