.modality_admission.render_center
    .render_header
        h3 Modalidad de Admisión
        h4 ¿Qué modalidad de admisión perteneces?
    
    .panel
        .modality
            //- input ---
            .modality_text
                label Admisión preferente
                p Si en el colegio obtuviste un promedio mayor o igual a 15.
        
        .modality
            //- input ---
            .modality_text
                label Admisión regular
                p Si estás en 5to o ya terminaste el colegio y estás listo para postular.
        
