.modality_admission.render_center
    .render_header
        h3 Modalidad de Admisión
        h4 ¿Qué modalidad de admisión perteneces?
    
    .panel
        .modality
            input(type="radio" id="modality_prefer" name="modality")
            label.radio(for="modality_prefer")
                .modality_text
                    label(for="modality_prefer") Admisión preferente
                    p Si en el colegio obtuviste un promedio mayor o igual a 15.
        
        .modality
            input(type="radio" id="modality_regular" name="modality")
            label.radio(for="modality_regular")
                .modality_text
                    label(for="modality_regular") Admisión regular
                    p Si estás en 5to o ya terminaste el colegio y estás listo para postular.
        
