extends /layouts/intranet/layout.pug

//- include /mixins/intranet/all/title/title_division.pug

block content
    include /render/intranet/user/edit/data_user.pug
    
    include /render/intranet/user/edit/modality_admission.pug
    
    include /render/intranet/user/edit/careers_interest.pug
    
    include /render/intranet/user/edit/footer.pug
